%table.table
  %thead
    %tr
      %th.span5 App
      %th Actions
      - @subapps.each do |subapp|
        %th= subapp.humanize
  %tbody
    - @apps.each_pair.each do |app, app_urls|
      %tr
        %td(class="#{status_class(app)}")= app.to_s.titleize
        %td
          - action = (simple_status(app) == 'running') ? 'stop' : 'start'
          - action_class = (simple_status(app) == 'running') ? 'btn-danger' : 'btn-success'
          = link_to url_for(:controller => 'apps', :action => action, :name => app), :class => 'btn btn-small '+action_class, :title => action do
            %i.icon-off.icon-white
        - @subapps.each do |subapp|
          %td(class="#{status_class("#{app}-#{subapp}")}")
            - if app_urls[subapp]
              = link_to app_urls[subapp], :class => 'btn btn-small' do
                %i.icon-plane
                Launch

