.container.app-launcher
  %nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        %a.navbar-brand App Launcher 2.0

      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a.js-tab-btn{href: "#start", data: { toggle: 'tab' }} Start
          - @apps.group_by(&:category).each do |category, apps|
            %li
              %a.js-tab-btn{href: "##{category}", data: { toggle: 'tab' }}
                = category.titlecase
        .nav.navbar-nav.navbar-right
          .navbar-btn.checkbox
            %label.navbar-link
              %input.js-auto-refresh(type='checkbox' checked='checked') Auto refresh?

  .tab-content
    .tab-pane.active#start
      %h1
        Choose your
        %span.icon-white.glyphicon.glyphicon-plane
        Launchpad

    - @apps.group_by(&:category).each do |category, apps|
      .tab-pane(id=category)
        %table.table.table-striped.app-table-list
          %thead
            %tr
              %th App
              %th Actions
              %th Dependent Services

          %tbody
            - apps.each do |app|
              %tr.js-app-row(id="app-#{app.id}")
                = render partial: 'app', locals: { app: app }

:javascript
  var appIds = #{@apps.map(&:id).to_json};
  $(function() { AppLauncherController.start(appIds); });
