.container
  %nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        %a.navbar-brand App Launcher 2.0

      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          - @apps.group_by(&:category).each do |category, apps|
            %li
              %a{href: "##{category}", data: { toggle: 'tab' }}
                = category.titlecase

.container.tab-content
  .tab-pane.active
    .jumbotron
      %h1
        %span.glyphicon.glyphicon-thumbs-up
        Choose your
        %span.icon-white.glyphicon.glyphicon-plane
        Launchpad

  - @apps.group_by(&:category).each do |category, apps|
    .tab-pane(id=category)
      %table.table.table-striped
        %thead
          %tr
            %th App
            %th Actions
            %th Dependent Services

        %tbody
          - apps.each do |app|
            %tr(id="app-#{app.id}")
              = render partial: 'app', locals: { app: app }

:javascript
  var app_ids = #{@apps.map(&:id).to_json};
  window.app_collection = new AppCollection(app_ids)

  $(function() {
    $('.nav-tabs a:first').tab('show');
  });
