%table.table
  %thead
    %tr
      %th.span5 App
      %th Actions
      - App::SUBAPPS.each do |subapp|
        %th= subapp.humanize
  %tbody
    - App.all.each do |app|
      %tr
        %td(class="#{app.status_class}")= app.to_s
        %td
          - action = app.running? ? 'stop' : 'start'
          - action_class = app.running? ? 'btn-danger' : 'btn-success'
          = link_to url_for(controller: 'apps', action: action, name: app.name), class: 'btn btn-small '+action_class, title: action do
            %i.icon-off.icon-white
        - App::SUBAPPS.each do |subapp_name|
          - subapp = app.subapps[subapp_name.to_sym]
          %td(class="#{app.status_class(subapp.try(:name))}")
            - if subapp && subapp.url
              = link_to subapp.url, class: 'btn btn-small' do
                %i.icon-plane
                Launch

