%table
  %tr
    %th App
    %th Actions
    - @subapps.each do |subapp|
      %th.subapp= subapp.humanize
  - @apps.each_pair.each do |app, app_urls|
    %tr
      %td(class="#{status_class(app)}")= app.to_s.titleize
      %td
        - action = (simple_status(app) == 'running') ? 'stop' : 'start'
        = link_to action, url_for(:controller => 'apps', :action => action, :name => app)
      - @subapps.each do |subapp|
        %td(class="#{status_class("#{app}-#{subapp}")}")
          = link_to 'View', app_urls[subapp] if app_urls[subapp]

